html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* LOADER */
.spinner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 80px;
  border: 0px solid rgb(229, 195, 57);
  border-radius: 50%;
  -webkit-box-shadow: 0 -20px 0 24px rgb(229, 195, 57) inset;
  box-shadow: 0 -20px 0 24px rgb(229, 195, 57) inset;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: 0;
  margin-left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ON LOAD ANIMATION */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/* LAYOUT COMPONENTS */
.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.column {
  display: flex;
  flex-flow: column;
}

.column section:first-child {
  margin-bottom: 10px;
}

.main {
  display: flex;
}

/* THE COMPONENT CONTAINERS */

.main-container {
  background-color: rgb(229, 195, 57);
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-width: 500px;
  color: #fff;
  background: #fff;
}

.main-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 300px;
  color: #fff;
  background: #b28200;
  background: -moz-linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  background: -webkit-linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  background: linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b28200', endColorstr='#e5c339', GradientType=1);
}

.extra-info-container {
  height: fit-content;
  background: #fff;
  color: #fff;
}

/* MAIN INFO COMPONENT */

div.info-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 2em;
}

div.icon>img {
  width: 85px;
}

div.info>span {
  font-size: 3em;
}

div.info>sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
  top: -0.6em;
  font-size: 3em;
}

div.info>p {
  max-width: 150px;
  font-size: 1.3em;
  margin: 0;
}

div.bottom img {
  float: left;
  width: 20px;
  margin-right: 20px;
}

div.bottom {
  margin-top: auto;
  padding: 1em 2em;
}

.refresh {
  transition: 300ms transform;
  cursor: pointer;
}

.spin {
  animation: spin 300ms;
}

/* .selected {
  animation: spin 300ms;
  transform: rotate(360deg);
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

svg {
  position: absolute;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* EXTRA INFO AND INFO COMPONENTS */

.info-wrap {
  background: #b28200;
  background: -moz-linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  background: -webkit-linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  background: linear-gradient(45deg, #b28200 0%, #e2bc22 48%, #e5c339 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b28200', endColorstr='#e5c339', GradientType=1);
  max-width: 235px;
  display: flex;
  flex-wrap: wrap;
  padding: 0em 2em;
  height: 100%;
  justify-content: space-between;
}

div.info-single-wrap {
  max-width: 85px;
  margin: 1em 0;
  flex: 0 50%;
}

div.info-single-wrap p {
  margin: 0;
}

div.info-single-wrap h1 {
  margin: 0;
}

sup.small-sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
  top: -0.6em;
  font-size: 1em;
}

/* MAIN COMPONENT AND DAILY INFO */

div.title-wrap {
  background: rgba(228, 192, 49, 0.4);
  padding: 1em 2em;
}

div.title-wrap h1 {
  font-size: 1.5em;
  margin: 0;
}

div.title-wrap i {
  vertical-align: top;
  margin-top: 5px;
  font-size: 20px;
  margin-left: 10px;
  line-height: -7px;
  color: rgba(255, 255, 255, 0.7);
}

div.title-wrap p {
  float: right;
  margin: 0 !important;
  color: #fff;
  font-size: 1.5em;
  margin-top: 10px;
}

.daily-wrap {
  overflow: hidden;
  display: flex;
  margin-top: auto;
}

.daily-info-wrap {
  position: relative;
  text-align: center;
  width: 77px;
  max-width: 72px;
  display: flex;
  flex-direction: columnn;
  flex-flow: column;
  justify-content: center
}

.transparent-wrap {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
  background: rgba(228, 192, 49, 0.4);
}

.daily-info-wrap img {
  margin-top: auto;
  width: 45px;
  height: 45px;
}

.img-wrap {
  z-index: 100;
}

.daily-info-wrap p {
  z-index: 100;
}

.daily-info-wrap div.temperature-single {
  z-index: 100;
  margin: 15px 0;
  font-size: 1.6em;
}

.daily-info-wrap div.temperature-single sup {
  z-index: 100;
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 2px;
}

.blur {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -1%;
  z-index: 99;
  width: 77px;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(2px);
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  background: rgb(212, 206, 121);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content div:hover {
  font-weight: bold;
}

.dropdown:focus-within .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:hover .dropdown-content {
   visibility: visible;
}
