html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* LOADER */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid lightgreen;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ON LOAD ANIMATION */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/* LAYOUT COMPONENTS */
.container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.column {
  display: flex;
  flex-flow: column;
}

.column section:first-child {
  margin-bottom: 10px;
}

.main {
  display: flex;
}

/* THE COMPONENT CONTAINERS */

.main-container {
  margin-left: 10px;
  min-width: 500px;
  color: #fff;
  background: lightgreen;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  background: lightgreen;
  height: 300px;
  color: #fff;
}

.extra-info-container {
  height: fit-content;
  background: lightgreen;
  color: #fff;
}

/* MAIN INFO COMPONENT */

div.info-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

div.icon>img {
  width: 100px;
}

div.info>span {
  font-size: 3em;
}

div.info>sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
  top: -0.6em;
  font-size: 3em;
}

div.info>p {
  font-size: 1.5em;
  margin: 0;
}

div.bottom img {
  float: left;
  width: 20px;
  margin-right: 20px;
}

div.bottom {
  margin-top: auto;
  padding: 1em 2em;
}

/* EXTRA INFO AND INFO COMPONENTS */

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 2em;
  height: 100%;
}

div.info-single-wrap {
  margin: 1em 0;
  flex: 0 50%;
}

div.info-single-wrap p {
  margin: 0;
}

div.info-single-wrap h1 {
  margin: 0;
}

sup.small-sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
  top: -0.6em;
  font-size: 1em;
}

/* MAIN COMPONENT */

div.title-wrap {
  padding: 1em 2em;
}

div.title-wrap h1 {
  font-size: 2.5em;
  margin: 0;
}
div.title-wrap>h1 i {
  vertical-align: top;
  margin-top: 15px;
  font-size: 20px;
  margin-left: 10px;
  line-height: -7px;
  color: rgba(255, 255, 255, 0.7);
}

div.title-wrap p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  margin-top: 10px;
}

