html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* LAYOUT COMPONENTS */
.container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.column {
  display: flex;
  flex-flow: column;
}

.column section:first-child {
  margin-bottom: 10px;
}

.main {
  display: flex;
}

/* THE COMPONENT CONTAINERS */

.main-container {
  margin-left: 10px;
  min-width: 500px;
  color: #fff;
  background: lightgreen;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  background: lightgreen;
  height: 300px;
  color: #fff;
}

.extra-info-container {
  height: fit-content;
  background: lightgreen;
  color: #fff;
}

/* MAIN INFO COMPONENT */

div.info-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

div.icon>img {
  width: 100px;
}

div.info>span {
  font-size: 3em;
}

div.info>sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
  top: -0.6em;
  font-size: 3em;
}

div.info>p {
  font-size: 1.5em;
  margin: 0;
}

div.bottom img {
  float: left;
  width: 20px;
  margin-right: 20px;
}

div.bottom {
  margin-top: auto;
  padding: 1em 2em;
}

/* EXTRA INFO AND INFO COMPONENTS */

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 2em;
  height: 100%;
}

div.info-single-wrap {
  margin: 1em 0;
  flex: 0 50%;
}

div.info-single-wrap p {
  margin: 0;
}

div.info-single-wrap h1 {
  margin: 0;
}

/* MAIN COMPONENT */

div.title-wrap {
  padding: 1em 2em;
}

div.title-wrap h1 {
  font-size: 3em;
  margin: 0;
}
div.title-wrap>h1 i {
  vertical-align: top;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 10px;
  line-height: -7px;
  color: rgba(255, 255, 255, 0.7);
}

div.title-wrap p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  margin-top: 10px;
}